include README.md
include LICENSE.txt
include AUTHORS.txt
include requirements.txt
recursive-include chemtrails *.html *.css *.js *.py
recursive-include docs Makefile *.rst *.py *.bat
recursive-include tests *.py *.json *.txt
recursive-exclude tests local_settings.py
